doctype html
html
  head
    title Nuevo cliente
    link(rel="stylesheet" href="/styles/styles.css")
  body
    h1 Crear cliente

    form(action="/clientes" method="POST")
      div
        input(type="text" name="nombre" placeholder="Nombre" required)
      div
        input(type="email" name="email" placeholder="Email" required)
      div
        input(type="text" name="tipo" placeholder="Tipo" required)
      div
        input(type="text" name="direccion" placeholder="Dirección" required)
      div
        input(type="text" name="telefono" placeholder="Teléfono" required)

      button.btn(type="submit") Crear

    a.btn.secundario(href="/") Volver