doctype html
html
  head
     title = "Hello Pug"
  body
     p.greetings#people Hello World!

     // .greetings es la clase y #people es el id del elemento p
// Pug no necesita etiquetas de cierre, ni comillas para los atributos, ni signos de igual para asignar valores a los atributos. La indentación es importante para definir la jerarquía de los elementos.