doctype html
html
  head
    title Menú
    link(rel="stylesheet" href="/styles/styles.css")
  body
    .container
      .logo-trigo 🌾
      h1 Panificadora
      h2.subtitulo La Espiga de Oro
      .menu-grid
        a.btn(href="/clientes") Clientes
        a.btn(href="/productos") Productos
        a.btn(class="disabled" href="/pedidos") Pedidos
        a.btn(class="disabled" href="/insumos") Insumos
        a.btn(class="disabled" href="/recetas") Recetas
        a.btn(class="disabled" href="/facturacion") Facturación