doctype html
html
  head
    title Menú
    link(rel="stylesheet" href="/styles/styles.css")
  body
    .container
      h1 Panificadora - La Espiga de Oro

      a.btn(href="/clientes") Ver clientes
      a.btn(href="/clientes/nuevo") Crear cliente